
    <h1>المراحل العشر لإعداد إنسان مؤثر</h1>
    <div id="fb-root" ></div>
    <div
      className="fb-video"
      data-href="https://www.facebook.com/Ihyaacademy/videos/1350030305031688/"
      data-autoplay="true"
      data-allowfullscreen="true"
      data-show-text="false"
    ></div>
    
      <div class="row" >
        
          <div class="col-6"  key={card.title} *ngFor="let card of cards" className="d-flex align-items-stretch">
            <div class="card">
                {{card.content}}
              <!-- <Card.Body>
                <Row>
                  <Col lg={9} xs={9}>
                    <Card.Title>
                      {card.order}- {card.title}
                    </Card.Title>
                  </Col>
                  <Col lg={3} xs={3}>
                    <img
                      src={card.image}
                      width="50%"
                      className="img-responsive"
                      alt={`Level ${index + 1}`}
                    />
                  </Col>
                </Row>
                <Row>
                  <Col>
                    <Card.Text>{card.content}</Card.Text>
                  </Col>
                </Row>
              </Card.Body> -->
            </div>
        </div>
        
        </div>
   