

<!-- 
    <h1 style="text-align:center;">Angular 9 Material Carousel Slider</h1>
  
  <mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="25"
  slides="5"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel> -->
<div class="row">
<ngb-carousel *ngIf="images">
	<ng-template ngbSlide *ngFor="let image of images">
		<div class="picsum-img-wrapper" style="max-height:400px;">
			<img style="width: 100%;" [src]="image" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<!-- <h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
		</div>
	</ng-template>
	<!-- <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1]" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[2]" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template> -->
</ngb-carousel>
</div>

<div class="row">
  <div class="col-3" *ngFor="let card of cards">
    <div class="card">
      <!-- <Card.Body> -->
        <div class="card-body">
        <!-- <Card.Title> -->
           <div class="card-title text-right">{{card.title}}</div> 
        <!-- </Card.Title> -->
        <!-- <Card.Text> -->
         <div class="card-text">   {{card.content}}</div> 
        <!-- </Card.Text> -->
        <!-- {card.linkActive ? (
          <Link to={card.linkRoute}>{card.linkText}</Link>
        ) : (
          <br />
        )} -->
      <!-- </Card.Body> -->
    </div>
    </div>
</div>
</div>